{% extends 'base.html.twig' %}



{% block tableForm %}
    

    {{ include('galeries/_formedit.html.twig', {'button_label': 'Update'}) }}


    
    {% if articles is empty %}
     <div  style="  margin-top: 10px;">
    <button class="btn btn-danger btn-sm  " style="  margin-right: 210px;"  onclick="window.location.href='{{ path('app_galeries_delete',{'idGalerie': galery.idGalerie}) }}'">Delete <i class="bi bi-trash"></i></button>               
</div>
        
    {% else %}
    <div  style="  margin-top: 10px;">
    <button class="btn btn-danger btn-sm  " style="  margin-right: 210px;"  onclick="window.location.href='{{ path('app_galeries_delete1',{'idGalerie': galery.idGalerie}) }}'">Delete <i class="bi bi-trash"></i></button>               
</div>


    {% endif %}
    </div>
  <button class="btn btn-info btn-sm" onclick="window.location.href='{{ path('app_galeries_index') }}'"> <i class="bi bi-arrow-bar-left"></i> Back to List  </button>

</div>
{% endblock %}
