{% extends 'artist.html.twig' %}


    
{% block tableForm %}
   

    {{ include('articles/_form.html.twig') }}

    
     <div  style="  margin-top: 10px;">
     <button class="btn btn-info btn-sm" onclick="window.location.href='{{ path('app_articles_index') }}'"> <i class="bi bi-arrow-bar-left"></i> Back to List  </button>
</div>

{% endblock %}
