{% extends 'artist.html.twig' %}

{% block stats %}
    <section class="section">
        <div class="row">

            <div class="col-lg-6" >
                <div class="card" >

                    <div class="card-body">
                        <h5 class="card-title">Comments By Article</h5>
                        <canvas id="comments-chart" width="500" height="400"></canvas>
                        <script>
                            var ctx = document.getElementById('comments-chart').getContext('2d');
                            var chart = new Chart(ctx, {
                                type: 'bar',
                                data: {
                                    labels: {{ articleCount|raw }},
                                    datasets: [{
                                        label: 'Comment number',
                                        data:{{ nbcomment|raw }},
                                        backgroundColor: 'rgba(54, 162, 235,0.55)',
                                        borderColor: 'rgba(54, 162, 235, 1)',
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    scales: {
                                        yAxes: [{
                                            ticks: {
                                                beginAtZero: true
                                            }
                                        }]
                                    }
                                }
                            });
                            console.log(document.getElementById("comments-chart"))
                        </script>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
        </div>
    </section>
{% endblock %}
