{% extends 'baselogin.html.twig' %}

{% block title %}Verify your email!{% endblock %}
{% block login %}
<div class="wrapper" style="background-image: url('{{ asset('assetsRegister/images/9.png') }}');">
    <div class="inner">
        <div class="image-holder">
            <img src="{{ asset('assetsRegister/images/van.jpg') }}" alt="">
        </div>
    <p>
        Check your mailbox to verify your account
    </p>

    </div>
</div>
{% endblock %}
